In [36]:
import wbgapi as wb
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pytz
import seaborn as sns
import scipy.stats as stats
import statsmodels as sm
import plotly.express as px
from pandas import DataFrame
import plotly.express as px
from tabulate import tabulate
import plotly.graph_objs as go
import statsmodels.api
import statsmodels
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

<h1 style="color:black; background-color:white; padding:10px; padding-bottom:10px;text-align: center;">Methodology-for-Outliers-Detection</h1>

<h2 style="color:black; background-color:yellow; padding:5px; padding-bottom:10px; margin-bottom:-10px">I. Introduction</h2>
<p style="color:black; background-color:yellow; padding:5px; padding-bottom:20px;margin-bottom:-10px">
Handling missing data is an important step of any data analysis. In real life, the study of given processes and phenomena inevitably encounters missing data, which should be subject to peprocessing analysis. To reveal the nature of the missing data in general, whether they are completely random, random or non-random. To think about what could be done with them so as not to distort the database drastically, but on the contrary to improve their suitability for objective analysis. This report provides an overview of possible tools for dealing with missing data. The emphasis is not on their research, which as a methodology was done in a previous report, but on working with them. Different methods of visualization, imputation and removal are shown in order to enrich the theory and practice of data refinement as a pre-processing step in the field of economic data and others. 
<p style="color:black; background-color:yellow; padding:5px;padding-bottom:20px;margin-bottom:-10px">The minimum wage in the EU and countries close to the EU is used as an example database. Since the minimum wage is formed either on the basis of collective labor contracts, state decisions or on the basis of the change in basic parameters such as the average wage, etc. , its use is for purely educational purposes.</p>
<p style="color:black; background-color:yellow; padding:5px;">In this paper, we will focus on the imputation of missing data and the applicability of the algorithms in the minimum wage example. The basic logarithms of Univariate and Multivariate Imputation will be used. Their behavior will be evaluated and visualized.</p>

<h2 style="color:black; background-color:yellow; padding:5px; margin-bottom:-15px">Content</h2>
<ul style="color:black; background-color:white; padding:5px; margin-bottom:-10px">The content of the empirical part of the report includes the following logical steps:</ul>
<li style="color:black; background-color:white; padding:5px">Import the database</li>
<li style="color:black; background-color:white; padding:5px">Check the missing values</li>
<li style="color:black; background-color:white; padding:5px">Dealing with missing values</li>
<li style="color:black; background-color:white; padding:5px">Visualization of imputation algorithms</li>

<h2 style="color:black; background-color:yellow; padding:5px; padding-bottom:10px; margin-bottom:-10px">II. Theoretical foundations of missing data.</h2>
<p style="color:black; background-color:white; padding:5px; margin-bottom:-15px"><b>Types of Missing data</b></p>
<ul style="color:black; background-color:white; padding:5px; margin-bottom:-10px">There are four types of missing data:</ul>
<li style="color:black; background-color:white; padding:5px">Missing completely at random (MCAR): The fact that it is missing is independent of the remaining variables.</li>
<li style="color:black; background-color:white; padding:5px">Missing at random (MAR):  The missing value can roughly be interpolated from the remaining values to a reasonable degree of accuracy.</li>
<li style="color:black; background-color:white; padding:5px">Missing not at random (MNAR): The reason why the data is missing is related to the remaining variables</li>
<li style="color:black; background-color:white; padding:5px">Structurally Missing Data: The missing data is missing for а reason.</li>

<p style="color:black; background-color:white; padding:5px;  margin-bottom:-15px"><b>Methods for handling missing data</b></p>
<ul style="color:black; background-color:white; padding:5px; margin-bottom:-10px">There are three methods at general:</ul>
<li style="color:black; background-color:white; padding:5px">Remove the missing data;</li>
<li style="color:black; background-color:white; padding:5px">Imputatе missing data;</li>
<li style="color:black; background-color:white; padding:5px">Keep the missing values;</li>

<h2 style="color:black; background-color:yellow; padding:5px; padding-bottom:10px; margin-bottom:-10px">III. Methodology and empirical analysis </h2>
<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px">More information on Eurostat's minimum wage methodology please visit: https://ec.europa.eu/eurostat/cache/metadata/en/earn_minw_esms.htm </p>

<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px"><b>Statistical concepts and definitions</b></p>
<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px">Minimum wage statistics refer to national minimum wages. The basic national minimum wage is fixed at an hourly, weekly or monthly rate, and this minimum wage is enforced by law (the government), often after consultation with the social partners, or directly by national intersectoral agreement. The national minimum wage usually applies to all employees, or at least to a large majority of employees in the country. Gross wages are reported.</p>

<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px"><b>Reference area</b></p>
<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px">Minimum wage statistics cover EU Member States and the candidate countries with a national minimum wage. The national minimum wage is in 21 of the EU Member States: Belgium, Bulgaria, Czechia, Germany (from 1 January 2015), Estonia, Ireland, Greece, Spain, France, Croatia, Latvia, Lithuania, Luxembourg, Hungary, Malta, the Netherlands, Poland, Portugal, Romania, Slovenia and Slovakia.  In all these countries, except Belgium, the national minimum wage is enforced by the government, often after consultation with the social partners. In Belgium, the national minimum wage is set by national intersectoral agreement and acquires legal force by royal decree. The following candidate countries have a national minimum wage: Albania, North Macedonia, Montenegro, Serbia and Turkey. Data cover also the USA having a national minimum wage. Country-specific information is available in annex.</p>

<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px">There is no national minimum wage in 6 EU Member States and the EFTA countries (data is flagged (z)):Cyprus: minimum wages are set by the government for some specific occupations. Denmark, Italy, Austria, Finland and Sweden as well as Iceland, Norway and Switzerland: minimum wages are set by sectoral collective agreements. </p>
<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px">No EU aggregates are calculated due to the nature of the data: not all countries have a national minimum wage and the meaningfulness of a minimum wage at EU level (e.g. calculated as the mean of national minimum wages) is questionable.</p>
<p style="color:black; background-color:white; padding:5px;margin-bottom:-10px"><b>Reference Period</b>: Monthly minimum wages: 1 January (S1) and 1 July (S2)</p>
<p style="color:black; background-color:white; padding:5px;">More about the algorithms used in my current report visit: https://scikit-learn.org/stable/modules/impute.html#impute</p>

---

<h3 style="color:black; background-color:white; padding:5px; padding-bottom:10px; margin-bottom:-10px">1. Import the database</h3>
<p style="color:black; background-color:white; padding:5px;">
As a first step, the database is loaded and functions are executed to reveal the main parameters of the data.</p>

In [26]:
def load_and_name_db_WB (db, *args):
    global df_name
    df_name = db
    globals()[df_name] = wb.data.DataFrame(indicators, wb.region.members(region), range(start_period, end_period))
    globals()[df_name].columns = (new_column_names)
    return globals()[df_name]

In [27]:
name_db = "empl_unempl_world"
indicators = ['SL.UEM.TOTL.NE.ZS', "SL.EMP.TOTL.SP.NE.ZS"]
new_column_names = ['unemployment', "employment"]
region = "WLD"
start_period = 2010
end_period = 2011

load_and_name_db_WB(name_db, indicators, region, start_period, end_period)

         unemployment  employment
economy
ABW         57.130001       10.60
AFG               NaN         NaN
AGO         69.980003        9.43
ALB         47.430000       14.09
AND               NaN         NaN
...               ...         ...
XKX               NaN         NaN
YEM         31.860001       17.82
ZAF         41.610001       23.18
ZMB         53.599998       13.19
ZWE               NaN         NaN

[217 rows x 2 columns]

<h4 style="color:black; background-color:white; padding:5px; padding-bottom:10px; margin-bottom:-10px">Extraction of basic information about the data</h4>
<p style="color:black; background-color:white; padding:5px;">
Parallel to the previous substep, it is important to outline the database parameters such as size, number of cases, data type, etc. In this way, we will understand what the "idea" of the database is and what can and should be done with it in terms of technical content.</p>

In [33]:
def db_info (df):
    observations = None
    features = None
    observations, features = df.shape
    print("1. Оbservations and features: \n {} Оbservations and {} features".format(observations, features))
    print("------------------------------------------------------")
    print (f"2. Number of cases in the table: {df.size}")
    print("------------------------------------------------------")
    print(f"3. The sum of element types by type is as follows: \n {df.dtypes.value_counts(ascending=True)}")
    print("------------------------------------------------------")

    list_objects = []
    list_int = []
    list_float64 = []

    for col in df.columns:
        if df[col].dtypes == "object":
            list_objects += [col]
        elif df[col].dtypes == "float64":
            list_float64 += [col]
        elif df[col].dtypes == "int64" or df[col].dtypes == "int32":
            list_int += [col]
    print("4. Group the features by data type:")
    print(f" object = {list_objects} \n")
    print(f" int = {list_int} \n")
    print(f" float64 = {list_float64}")

In [34]:
db_info(empl_unempl_world)

1. Оbservations and features:
 217 Оbservations and 2 features
------------------------------------------------------
2. Number of cases in the table: 434
------------------------------------------------------
3. The sum of element types by type is as follows:
 float64    2
dtype: int64
------------------------------------------------------
4. Group the features by data type:
 object = []

 int = []

 float64 = ['unemployment', 'employment']

<h4 style="color:black; background-color:white; padding:5px; padding-bottom:10px; margin-bottom:-10px">Descriptive statistics</h4>
<p style="color:black; background-color:white; padding:5px"> The output of the descriptive statistics for the two databases aims, on the one hand, to give us a first deeper look at the data, and on the other hand, to alert us to the difference between the scales, the need for precessing and graphical analysis of their distribution.</p>

In [37]:
statsmodels.stats.descriptivestats.describe(empl_unempl_world).round(2)

                  unemployment  employment
nobs                    217.00      217.00
missing                  83.00       82.00
mean                     56.03        8.50
std_err                   0.96        0.53
upper_ci                 57.91        9.54
lower_ci                 54.16        7.47
std                      11.08        6.13
iqr                      12.76        6.33
iqr_normal                9.46        4.69
mad                       8.49        4.45
mad_normal               10.65        5.57
coef_var                  0.20        0.72
range                    55.16       32.68
max                      86.59       33.13
min                      31.43        0.45
skew                      0.07        1.50
kurtosis                  3.02        5.53
jarque_bera               0.12       86.59
jarque_bera_pval          0.94        0.00
mode                     53.75        3.32
mode_freq                 0.01        0.01
median                   56.52        7.26
1%                       31.94        0.63
5%                       37.00        1.12
10%                      40.34        2.64
25%                      48.82        4.31
50%                      56.52        7.26
75%                      61.58       10.63
90%                      70.08       17.84
95%                      75.38       20.26
99%                      82.42       29.47

<span style="background-color:white">
<h3 style="color:black; background-color:white; padding:5px; margin-bottom:-15px"> Second basic step. Missing values </h3>
<ul style="color:black; background-color:white; padding:5px; margin-bottom:-10px"> In this step, missing values analysis is done. The goal is to examine their proportions, check for a pattern, and remove them where appropriate: </ul>
<li style="color:black; background-color:white; padding:5px">general check for missing data</li>
<li style="color:black; background-color:white; padding:5px">searching for a pattern in the missing data</li>
<li style="color:black; background-color:white; padding:5px">check for Outliers in missing data</li>
<li style="color:black; background-color:white; padding:5px">visualization of missing data</li>
<li style="color:black; background-color:white; padding:5px">cluster visualization of missing data</li>
</span>

In [38]:
empl_unempl_world = empl_unempl_world.dropna(axis = 0, how = 'all')
empl_unempl_world

         unemployment  employment
economy
ABW         57.130001       10.60
AGO         69.980003        9.43
ALB         47.430000       14.09
ARG         55.540001        7.71
ARM         50.619999       19.01
...               ...         ...
VNM         75.320000        1.11
VUT         63.200001        1.85
YEM         31.860001       17.82
ZAF         41.610001       23.18
ZMB         53.599998       13.19

[138 rows x 2 columns]

<h3 style="color:black; background-color:white; padding:5px; margin-bottom:-15px">Step four: Outliers</h3>
<ul style="color:black; background-color:white; padding:5px; margin-bottom:-10px">We move on to the next step after the following manipulations:</ul>
<li style="color:black; background-color:white; padding:5px">First: we loaded and processed the databases in an analysis-friendly form;</li>
<li style="color:black; background-color:white; padding:5px">Second: we analyzed the missing values ​​and removed those for which there was a pattern;</li>
<li style="color:black; background-color:white; padding:5px">Third: we filled in the missing values ​​using the imputation method</li>
<li style="color:black; background-color:white; padding:5px">Fourth: we visualized the data graphically and studied its dynamics both in original and imputed form.</li>
<p style="color:black; background-color:white; padding:5px;">Next is an analysis for the presence of Outliers, which will give us another path of development and an opportunity for analysis, namely refining the databases.</p>

<ul style="color:black; background-color:white; padding:5px; margin-bottom:-10px">Since the topic of outliers is multi-layered, we will take several approaches.</ul>
<li style="color:black; background-color:white; padding:5px">First: an author's approach to remove Outliers on a functional path using intervals and boxplots;</li>
<li style="color:black; background-color:white; padding:5px">Second: by standardizing the data through a functional best method approach;</li>
<li style="color:black; background-color:white; padding:5px">Third: partially through other algorithms like ransats, etc.</li>

<p style="color:black; background-color:white; padding:5px;">Let's review the data for outliers. In the next two functions we will test if there are any.</p>

In [39]:
def find_outliers_IQR1(df):
    for col in df.columns:
        q1=df.quantile(0.25)
        q3=df.quantile(0.75)
        IQR=q3-q1
        outliers = df[((df<(q1-1.5*IQR)) | (df>(q3+1.5*IQR)))]
        df99 = outliers.count()
    
    print (df99)
    print("number of outliers: "+ str(df99.sum()))
    print("max outlier value: "+ str(df99.max()))
    print("min outlier value: "+ str(df99.min()))

In [40]:
find_outliers_IQR1(empl_unempl_world)

unemployment    2
employment      8
dtype: int64
number of outliers: 10
max outlier value: 8
min outlier value: 2

<p style="color:black; background-color:white; padding:5px;">In "df_labor_market" dataframe, the primary analysis shows the presence of outliers only in the unemployment rate and the absence or absence of such outliers in the employment and economic activity levels.</p>

<p style="color:black; background-color:white; padding:5px;">In df_economics_removed_outliers dataframe, the primary analysis shows the presence of outliers mainly in the unemployment rate, but also in the social dimensions: poverty, early leaving, temporary employment, NEETs... which warrants further investigation.</p>

<p style="color:black; background-color:white; padding:5px;">As a second step, we will examine the obtained results graphically to get a greater idea of the distribution of values</p>